    <!-- <li>
      <strong>{{answer.author}}</strong> said: <i>{{answer.response}}</i>
      <button id="upvote" {{action 'upvote'}}><img src="http://iconshow.me/media/images/Mixed/line-icon/png/512/like-512.png"></button>
      <button id="downvote"></button>
    </li> -->
