<h4>Answers:</h4>
<ul>
  {{#each sortedAnswers as |answer|}}
    <li>
      <strong>{{answer.author}}</strong> said: <i>{{answer.response}}</i>
      <button class="tiny-button" id="upvote" {{action 'upvote' answer}}><img src="http://iconshow.me/media/images/Mixed/line-icon/png/512/like-512.png" alt="upvote button"></button>
    </li>
  {{/each}}
</ul>
