<div class="bookmarks-bar">
  {{#each bookmarkedQuestions.bookmarks as |question|}}
    <div class="bookmark">
      {{#link-to 'question' question.id}}
        <h5>{{question.author}}</h5>
      {{/link-to}}
      <i>{{question.query}}</i>
    </div>
  {{/each}}
</div>
