h1 {
  float: left;
  position: absolute;
  top: 10px;
  left: 20px;
}

button {
  margin-top: 20px;
}

.header {
  height: 70px;
}

.nav-link {
  float: right;
  position: relative;
  top: 35px;
  right: 20px;
}

.body {
  position: absolute;
  margin: 20px;
}

#upvote {
  height: 25px;
  width: 25px;
  background-color: lightgreen;
}

#upvote > img {
  position: relative;
  top:-3px;
  left: -5px;
  height: 20px;
  width: auto;
}
