
  <div class="header">
    <h1>Questions &amp; Answers</h1>
    <div class="nav-link">
      {{#link-to 'index'}}Home{{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
  <div class="bookmarks-bar">
    {{bookmarks-bar question=question}}
  </div>
